
.vs/Totally not a rat/FileContentIndex/730d20f9-5a9c-4ee3-87ef-a2806fa4701d.vsidx
.vs/Totally not a rat/FileContentIndex/75611cbe-fc4b-4214-990b-f23c91bf775c.vsidx
.vs/Totally not a rat/FileContentIndex/9313624b-b3a5-48ae-942b-849c6403fafb.vsidx
.vs/Totally not a rat/FileContentIndex/b5d12789-a37b-4e41-bf26-bb81665b2a53.vsidx
.vs/Totally not a rat/FileContentIndex/bd03e75a-f0c6-4d8d-a6d8-8811b2b8ba5a.vsidx
.vs/Totally not a rat/v17/.suo
.vs/Totally not a rat/v17/Browse.VC.db
.vs/Totally not a rat/v17/DocumentLayout.json
.vs/Totally not a rat/v17/ipch/AutoPCH/3687e485bb965d69/CONFIGMANAGER.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/5668f744b2605931/OG CODE.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/61d80b9a52c6a9f3/MAIN.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/6944608bfe1ad2dc/MAIN.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/c18a18e107476465/MAIN.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/d95cd70a4012f95b/KEYS.ipch
.vs/Totally not a rat/v17/ipch/AutoPCH/dc905d6a347c66d0/CONFIGMANAGER.ipch
.vs/Totally not a rat/v17/Solution.VC.db
